:root {
    --jumbotron-padding-y: 3rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

.film-img {
    justify-content: center;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#drop-area {
    margin-top: 20px;
    height: min-content;
    width: 330px;
    background-color: white;
    border: 3px dashed grey;
}

.drop-text {
/ / margin-top: 70 px;
    color: grey;
    font-size: 25px;
    font-weight: bold;
}

#drop-area img {
    height: min-content;
    max-width: 200px;
}

.tt-menu {
    width: 700px !important;
    position: static !important;
}

.divItem {
    height: 75px;
    background: #f6f3f3;
}